/*CSS Reset*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*End of Reset*/
/*Font Declarations*/
@font-face {
  font-family: "openSansBold";
  src: url("../../assets/fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "openSansBoldItalic";
  src: url("../../assets/fonts/OpenSans-BoldItalic.ttf"); }

@font-face {
  font-family: "openSansLight";
  src: url("../../assets/fonts/OpenSans-Light.ttf"); }

@font-face {
  font-family: "openSansLightItalic";
  src: url("../../assets/fonts/OpenSans-LightItalic.ttf"); }

/*Styles*/
html {
  font-family: "openSansLight";
  position: relative; }

body {
  background-color: black;
  color: white; }

header {
  display: flex;
  align-items: center;
  transition: all 1s ease-in-out; }
  header.noArticles {
    height: 100vh; }
  header.hasArticles {
    height: 20vh; }

.logo {
  height: 60%;
  padding: 25px; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #c2c2c2;
  padding: 1%; }

#selectorForm {
  padding-top: 10px; }
  #selectorForm #sectionSelector {
    background: url(../../assets/images/selectarrow.png) 0 0 no-repeat;
    background-size: contain;
    background-position: right;
    -webkit-appearance: none;
    background-color: white;
    border: none;
    width: 100%;
    padding: 5%; }

#articleArea {
  display: flex;
  flex-wrap: wrap; }
  #articleArea.hasArticles {
    padding-bottom: 50px; }
  #articleArea a {
    width: 25%;
    position: relative; }
    #articleArea a .articleImg {
      width: 100%; }
      #articleArea a .articleImg:hover + .articleExcerpt {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear; }
    #articleArea a .articleExcerpt {
      visibility: hidden;
      transition: visibility 0s 2s, opacity 0.5s linear;
      opacity: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      width: 90%;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      font-size: 20px;
      line-height: 27px;
      padding: 15px 5%; }
      #articleArea a .articleExcerpt:hover {
        visibility: visible;
        opacity: 1;
        transition: opacity 0.5s linear; }

@media screen and (max-width: 1239px) {
  footer {
    width: 100%;
    text-align: center;
    padding: 4% 0;
    margin: auto; } }

@media screen and (max-width: 1239px) and (min-width: 600px) {
  #articleArea a {
    width: calc(100% / 3); }
    #articleArea a .articleExcerpt {
      font-size: 17px;
      line-height: 20px; }
  header {
    justify-content: center; } }

@media (max-width: 599px) {
  #articleArea a {
    width: 100%; }
    #articleArea a .articleExcerpt {
      font-size: 18px;
      line-height: 25px; }
  header {
    display: flex;
    flex-direction: column; }
    header.hasArticles {
      height: 41vh; }
  .logo {
    height: 50%; } }
